<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>React版工作日志</title>
	<link rel="stylesheet" href="{work=$Think.const.WORK_LOG}/fonts/style.css">
	<link rel="stylesheet" href="{work=$Think.const.WORK_LOG}/css/reactindex.css">
	<script src="{work=$Think.const.WORK_PUBLIC}/react/react.js"></script>
	<script src="{work=$Think.const.WORK_PUBLIC}/react/react-dom.js"></script>
	<script src="{work=$Think.const.WORK_PUBLIC}/react/browser.min.js"></script>
</head>
<body id="worklog-index">
	<div id="wrapper">
		
	</div>
</body>
</html>
<script type="text/javascript" src="{work=$Think.const.WORK_LOG}/js/jquery-1.11.1.min.js"></script>
<script type="text/babel" src="{work=$Think.const.WORK_LOG}/react/react.js"></script>