<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
	<title>Document</title>
	<link rel="stylesheet" href="{work=$Think.const.PROJECT}/jsalert/css/window.css">
	<script type="text/javascript" src="{work=$Think.const.WORK_LOG}/js/require.js" data-main="{work=$Think.const.PROJECT}/jsalert/js/main.js?time={work=:time()}" defer></script>
</head>
<body>
	<input type="button" value="alert弹窗" id="a">
</body>
</html>