<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
	<title>Document</title>
	<script type="text/javascript" src="{work=$Think.const.WORK_LOG}/js/require.js" data-main="{work=$Think.const.PROJECT}/jsalert/js/main" defer></script>
</head>
	<style>
		*{padding: 0;margin: 0;}
		.window_boundingBox{position: fixed;bottom: 1px solid #000;width: 500px;height: 300px;left: 50%;top: 100px;box-shadow: 0 0 12px rgba(0,0,0,.5);}
		.window_boundingBox input{width: 100px;position: absolute;bottom: 10px;left: 50%;margin-left: -50px;}
	</style>
<body>
	<input type="button" value="alert弹窗" id="a">
</body>
</html>